/* Set list icon links to black with no underline on hover, except in buttons */
a,
a:hover {
  [class^="icon-"],
  [class*=" icon-"] {
    color: black;
    text-decoration: none;
  }
}
a.btn,
button, {
  [class^="icon-"],
  [class*=" icon-"] {
    color: white;
    padding-top: 2px;
  }
}
button[name="_continue"] {
  [class^="icon-"],
  [class*=" icon-"] {
    color: black !important;
  }
}

/* External link icon */
.controls,
.prettyprint {
  i.icon-external-link {
    font-size: 10px;
  }
}

/* Nav bar avatar image */
.navbar ul.pull-right > li > img {
  display: block;
  border-radius: 2px;
  padding-top: 0 !important;
  margin-top: 5px;
}

.links,
.nav {
  .activate_member_link > a,
  .approve_member_link > a {
    [class^="icon-"],
    [class*=" icon-"] {
      color: green;
    }
  }
  .deactivate_member_link > a,
  .unapprove_member_link > a {
    [class^="icon-"],
    [class*=" icon-"] {
      color: red;
    }
  }
}

.bulk_approve_photo {
  display: block;
  margin-bottom: 5px;
}

body.rails_admin {
  .table {
    .caption_field {
      white-space: normal !important;
    }
  }
}

.carrierwave_type > .controls > .toggle {
  a {
    display: block;

    &.loading {
      width: 200px;
      height: 75px;
      background: image-url("loading.gif") no-repeat 50% 50%;
      background-size: 32px 32px;
    }
    &.new {
      display: none;
    }
  }
}
