<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<body>
<h3 style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 15px;">Facelauncher Export</h3>

<p style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 13px;">Your export of <%= @model_name %> has completed.</p>

<p style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 13px;">To download the export as a CSV (comma separated value)
file, click the following link: <%= link_to root_url, root_url %>.</p>
</body>
<html>